html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.MuiCardContent-root.css-46bh2p-MuiCardContent-root {
  margin-top: 10px;
  margin-bottom: 8%;
}
.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation3.css-1w9rpj9-MuiPaper-root {
  margin-top: 8%;
}
